@import "../../node_modules/normalize.css/normalize.css";
@import "./variables";

html,
body {
  height: calc(100% - $wrapper-margin);
}

body {
  margin: $wrapper-margin;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}
